{% load i18n %}
{% load submit_parts %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans 'Time' %}</th>
            <th>{% trans 'State' %}</th>
            <th>{% trans 'Score' %}</th>
            <th>{% trans 'Actions' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for submit, review in submits %}
        {% if review %}
            <tr class="{% if review.short_response == response.OK or review.short_response == response.REVIEWED %}
                            success
                       {% elif review.short_response == response.SENDING_TO_JUDGE or review.short_response == response.SENT_TO_JUDGE %}
                            info
                       {% elif review.score > 0 %}
                            warning
                       {% else %}
                            danger
                       {% endif %}">
        {% else %}
            <tr class="info">
        {% endif %}
            <td>{{ submit.time }}</td>
            {% if review %}
                <td>{{ review.verbose_response }}</td>
                <td>{{ review.display_score }}</td>
            {% else %}
                <td>{% trans 'Not reviewed' %}</td>
                <td>..</td>
            {% endif %}
            <td><a class="btn btn-primary btn-xs" href="{% url 'view_submit' submit_id=submit.id %}">{% trans 'View' %}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
