{% extends "submit/base.html" %}

{% load submit_parts %}
{% load i18n %}

{% block title %}{% trans 'Submit' %} {{ submit.id }}{% endblock title %}

{% block page_header %}
    <h1>{% trans 'Submit details' %}</h1>

    {% if user.is_staff %}
        <a href="{% url 'admin:submit_submit_change' submit.id %}">
            <span class="glyphicon glyphicon-pencil"></span> {% trans 'Edit and review' %}
        </a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col col-md-6">
            {% include 'submit/submit_info.html' %}
        </div>
        <div class="col col-md-6">
            {% include 'submit/review_info.html' %}
        </div>
    </div>

    <h3>{% trans 'Protocol' %}</h3>
    {% if review and protocol_expected %}
        {% include 'submit/protocol.html' %}
    {% endif %}

    <h3>{% trans 'All submits' %}</h3>
    {% submit_list submit.receiver user %}
{% endblock page_content %}
