{% extends "testovac/base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block title %}News{% endblock %}

{% block page_header %}
    <h1>
        News
        {% if user.is_staff %}
            <a href="{% url 'admin:news_entry_add' %}" class="btn btn-primary pull-right">Add announcement</a>
        {% endif %}
    </h1>
{% endblock %}

{% block page_content %}
    {% for entry in news_entries %}
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">{{ entry.title }}</h3></div>
            <div class="panel-body">
                {{ entry.rendered_text }}
                <div class="pull-right">
                    <span class="">{{ entry.author.username }}, {{ entry.pub_date | naturaltime }}</span>
                    {% if user.is_staff %}
                        <span><a href="{% url 'admin:news_entry_change' entry.pk %}">Edit</a></span>
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        <p>There are no news yet.</p>
    {% endfor %}

    {% if is_paginated %}
        <ul class="pager">
            {% if page_obj.has_previous %}
                <li class="previous"><a href="{% url 'news_page' page=page_obj.previous_page_number %}">Newer</a></li>
            {% endif %}

            <li class="page-current">
                 Page {{ page_obj.number }} from&nbsp;{{ page_obj.paginator.num_pages }}.
            </li>

            {% if page_obj.has_next %}
                <li class="next"><a href="{% url 'news_page' page=page_obj.next_page_number %}">Older</a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock page_content %}
