{% extends "testovac/base.html" %}
{% load submit_parts %}

{% block title %}{{ task.name }}{% endblock %}

{% block page_content %}
    {{ task.name }}
    {% url 'task_statement' task.id as task_url %}
    {% for receiver in task.submit_receivers.all %}
        {% submit_form receiver task_url %}
        {% if receiver.configuration.form %}
            {% submit_list receiver user %}
        {% endif %}
    {% empty %}
        <p class="text-danger">Solutions for this task can't be submitted yet.</p>
    {% endfor %}
{% endblock %}
